/* Animation 1: Falling
   Bolden falder konstant fra oven. */
.falling {
    animation-name: falling;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes falling {
    0% {
        transform: translate(0,-300%);
    }

    100% {
        transform: translate(0,300%);
    }
    
}