/* Animation 1: Falling
   Bolden falder konstant fra oven. */
.falling {
  animation-name: falling;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes falling {
  0% {
    transform: translate(0, -300%);
  }

  100% {
    transform: translate(0, 300%);
  }
}

/* Animation 2: Bouncing
Bolden hopper op og ned */
.bouncing {
  animation-name: bouncing;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes bouncing {
  0% {
    transform: translate(0, -135%);
  }

  100% {
    transform: translate(0, 135%);
  }
}

/* Animation 3: Drop
Bolden falder ned, og bliver liggende */
.drop {
  animation-name: drop;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: forwards;
}

@keyframes drop {
  0% {
    transform: translate(0, -135%);
  }

  100% {
    transform: translate(0, 135%);
  }
}

/* Animation 4: Pattern
Bolden falder ned, og bliver liggende */
.pattern {
  animation-name: pattern;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pattern {
  0% {
    transform: translate(0, -135%);
  }

  25% {
    transform: translate(150%, 0);
  }

  50% {
    transform: translate(0, 135%);
  }

  75% {
    transform: translate(-150%, 0);
  }

  100% {
    transform: translate(0, -135%);
  }
}

/* Animation 5: Zoom out
Bolden bliver lillebitte */
.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes zoom_out {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0.1, 0.1);
  }
}

/* Animation 6: Zoom in
Bolden bliver kæmpestor */
.zoom_in {
  animation-name: zoom_in;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  /* animation-iteration-count: infinite; */
  animation-fill-mode: forwards;
}

@keyframes zoom_in {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(10, 10);
  }
}

/* Animation 7: Fade out
Bolden fader langsomt væk */
.fade_out {
  animation-name: fade_out;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes fade_out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Animation 8: Fade in
Bolden fader langsomt ind */
.fade_in {
  animation-name: fade_in;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

@keyframes fade_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Animation 9: Rotation
Bolden drejer rundt */
.rotation {
  animation-name: rotation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Animation 10: Rotation II
Bolden drejer rundt om et punkt uden for sig selv */
.rotation2 {
  animation-name: rotation2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation2 {
  0% {
    transform: rotate(0) translate(0, -135%);
  }

  100% {
    transform: rotate(360deg) translate(0, -135%);
  }
}

/* Animation 11: Glow
Bolden "lyser op" - brug en filter-effekt */
.glow {
  animation-name: glow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 0 rgb(255, 234, 0));
  }

  100% {
    filter: drop-shadow(0 0 16px rgb(255, 234, 0));
  }
}

/* Animation 12: Blur to gray
Bolden triller fra side til side 
(kombinér to transform funktioner), 
og den bliver gråtone og sløret 
(kombinér to filter-effekter) */
.blur_to_gray {
  animation-name: blur_to_gray;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blur_to_gray {
  0% {
    transform: translate(-150%, 0) rotate(0);
  }

  100% {
    transform: translate(150%, 0) rotate(160deg);
    filter: grayscale(100%) blur(3px);
  }
}

/* Animation 13: Pulse
Bolden "pulserer" stille og roligt 
for at gøre opmærksom på at man skal klikke på den */
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(0.9, 0.9);
  }
}

/* Animation 14: Overshoot
Bolden triller lidt for langt, før den ender på rette plads */
.overshoot {
  animation-name: overshoot;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  animation-fill-mode: forwards;
}

@keyframes overshoot {
  0% {
    transform: translate(-150%, 0) rotate(0);
  }

  100% {
    transform: translate(150%, 0) rotate(360deg);
  }
}

/* Animation 15: Bounce
Bolden falder ned, hopper lidt op igen og igen, 
indtil den falder til ro. */
.bounce {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes bounce {
  0% {
    transform: translate(-150%, -100%) rotate(0);
  }
  10% {
    transform: translate(-122%, 150%) rotate(36deg);
  }
  20% {
    transform: translate(-94%, -30%) rotate(72deg);
  }
  30% {
    transform: translate(-66%, 150%) rotate(108deg);
  }
  40% {
    transform: translate(-38%, 10%) rotate(144deg);
  }
  50% {
    transform: translate(0%, 150%) rotate(180deg);
  }
  60% {
    transform: translate(30%, 60%) rotate(216deg);
  }
  70% {
    transform: translate(60%, 150%) rotate(252deg);
  }
  80% {
    transform: translate(90%, 100%) rotate(288deg);
  }
  90% {
    transform: translate(120%, 150%) rotate(324deg);
  }
  95% {
    transform: translate(125%, 140%) rotate(348deg);
  }
  100% {
    transform: translate(130%, 135%) rotate(360deg);
  }
}

/* Animation 16: Squash
Bolden bevæger sig i et fast mønster, ligesom i nr. 4, 
men hver gang den rammer en kant, bliver den lidt mast.
Du får brug for en masse ekstra keyframes med 
transform-ændringer! */
.squash {
  animation-name: squash;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes squash {
  0% {
    transform: translate(0, -130%) scale(0.9);
  }
  2% {
    transform: translate(5%, -130%) scale(1);
  }
  23% {
    transform: translate(145%, -5%) scale(1);
  }
  25% {
    transform: translate(150%, 0) scale(0.9);
  }
  27% {
    transform: translate(145%, 5%) scale(1);
  }

  48% {
    transform: translate(5%, 130%) scale(1);
  }
  50% {
    transform: translate(0, 135%) scale(0.9);
  }
  52% {
    transform: translate(-5%, 130%) scale(1);
  }

  73% {
    transform: translate(-145%, 5%) scale(1);
  }
  75% {
    transform: translate(-150%, 0) scale(0.9);
  }
  77% {
    transform: translate(-145%, -5%) scale(1);
  }

  98% {
    transform: translate(-5%, -130%) scale(1);
  }
  100% {
    transform: translate(0, -130%) scale(0.9);
  }
}
